@page
@model IndexModel
@{
    ViewData["Title"] = "Examen 2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @await Html.PartialAsync("_HeaderPartial")
</head>
<body>
    <center>
        <h1> Universidad Tecnológica Costarricense </h1><br>

        <h1> Segundo Examen </h1><br>

        <h2> Programación VI </h2><br>

        <h3> Verny Mata Brenes </h3><br>

        <h3> Profesora: Ana Lucía Matarrita </h3><br>

        <h4> 2021 </h4>
    </center>
</body>
</html>